*{
	padding: 0;
	margin: 0;
	font-family: 'Antic', sans-serif;
}

.navbar{
	opacity: 0.95;
}
/* hero img in base.html.twig*/
header {
	background: url('img/1.jpg') no-repeat 30% 30%;
    background-size: cover;
    height: 500px;
    margin-bottom: 0 !important;
}